$rosa-oscuro: #4c2427;
$rosa-claro: #f8e2db;
$fondo-pantalla: #f7f4f1;
$rosa-intermedio:#f2b0a7;
@font-face {
    font-family:"prata" ;
    src: url(../fonts/Prata.zip);
}
/* solo se usa para estilos de texto/colores */

