/* Empieza la adaptacion a mobile */
@media (max-width:577px){
    .gridTarjetas{
        display: grid;
        grid-template-columns:300px ;
        grid-row-gap: 200px;
        grid-template-rows:155px ;
        margin-bottom: 300px;
        align-content: center;
        justify-content: center;
    }
    .tarjetasEncimadas{
        flex-direction: row;
        width: 20rem;
        height: 15rem;
        background-image: url(../assets/fondo.jpg);
        justify-items: center;
        align-items: center;
        margin: 1px;
    }
    .tarjetaEncimada{
        width: 13rem;
        height: 13rem;
        align-items: center;
        justify-items: center;
    }
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 90px;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    .tarjetasRopa , .carritoTarjeta{
        display:grid;
        grid-template-columns:repeat(3 , 5rem);
        grid-template-rows: repeat(2 , 7,5rem);
        grid-column-gap: 40px;
        margin-top: 40px;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        
}

    .imagenRopa{
        width:100px ;
        height: 150px;
        justify-self: center;
    }
    .productoIndividual{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:993px) and (min-width:769px) {
    .gridTarjetas{
        display: grid;
        grid-template-columns:300px ;
        grid-row-gap: 200px;
        grid-template-rows:155px ;
        margin-bottom: 300px;
        align-content: center;
        justify-content: center;
    }
    .tarjetasEncimadas{
        flex-direction: row;
        width: 20rem;
        height: 15rem;
        background-image: url(../assets/fondo.jpg);
        justify-items: center;
        align-items: center;
        margin: 1px;
    }
    .tarjetaEncimada{
        width: 13rem;
        height: 13rem;
        align-items: center;
        justify-items: center;
    }
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 90px;
        align-content: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-self: center;
    }
    .tarjetasRopa{
        display:grid;
        grid-template-columns:repeat(3 , 5rem);
        grid-template-rows: repeat(2 , 7,5rem);
        grid-column-gap: 40px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        justify-items: center;
        margin-top: 40px;
        
}
.carritoTarjeta{
    display:grid;
    grid-template-columns:repeat(3 , 5rem);
    grid-template-rows: repeat(2 , 7,5rem);
    grid-column-gap: 40px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    
}
    .imagenRopa{
        width:100px ;
        height: 150px;
        justify-self: center;
    }
    
}
@media (max-width:769px) and (min-width:577px) {
    .gridTarjetas{
        display: grid;
        grid-template-columns:400px ;
        grid-row-gap: 200px;
        grid-template-rows:200px ;
        margin-bottom: 300px;
        align-content: center;
        justify-content: center;
    }
    .tarjetasEncimadas{
        flex-direction: row;
        width: 25rem;
        height: 20rem;
        background-image: url(../assets/fondo.jpg);
        justify-items: center;
        align-items: center;
        margin: 1px;
    }
    .tarjetaEncimada{
        width: 17rem;
        height: 17rem;
        align-items: center;
        justify-items: center;
    }
    .tarjetas{
        display: grid;
        grid-template-columns: 30rem;
        grid-template-rows: repeat(3 , 30rem);
        grid-row-gap: 90px;
        align-content: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
    }
    .tarjetasRopa , .carritoTarjeta{
        display:grid;
        grid-template-columns:repeat(3 , 8rem);
        grid-template-rows: repeat(2 , 12rem);
        grid-column-gap: 40px;
        grid-row-gap: 150px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        justify-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
        
}

    .imagenRopa{
        width:125px ;
        height: 175px;
        justify-self: center;
    }
    
}
